<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>InterTight-Medium.ttf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-Bold.ttf</string>
		<string>SFProText-Heavy.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Jost-Bold.ttf</string>
		<string>Jost-Medium.ttf</string>
		<string>Jost-Regular.ttf</string>
		<string>Jost-SemiBold.ttf</string>
	</array>
</dict>
</plist>
